ansi2html @ file:///Users/runner/miniforge3/conda-bld/ansi2html_1695769044760/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1681349778161/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1695989934239/work
cachelib @ file:///home/conda/feedstock_root/build_artifacts/cachelib_1675325736137/work
certifi==2023.7.22
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1696431134479/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
dash @ file:///home/conda/feedstock_root/build_artifacts/dash_1693295590146/work
dash-bootstrap-components @ file:///home/conda/feedstock_root/build_artifacts/dash-bootstrap-components_1694086999250/work
dash-extensions @ file:///home/conda/feedstock_root/build_artifacts/dash-extensions_1690841997453/work
dataclass-wizard @ file:///home/conda/feedstock_root/build_artifacts/dataclass-wizard_1646743107783/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1690101045195/work
diskcache @ file:///home/conda/feedstock_root/build_artifacts/diskcache_1693471346238/work
EditorConfig @ file:///home/conda/feedstock_root/build_artifacts/editorconfig_1636044710028/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1692686107036/work
Flask-Caching @ file:///home/conda/feedstock_root/build_artifacts/flask-caching_1659219902730/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
jsbeautifier @ file:///home/conda/feedstock_root/build_artifacts/jsbeautifier_1695476956874/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1695367660391/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1660060161633/work
multiprocess @ file:///Users/runner/miniforge3/conda-bld/multiprocess_1695458918787/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
obsws-python==1.6.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1694802097009/work
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1695367184494/work
PyATEMMax==1.0b9
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
retrying==1.3.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1692026804430/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1695040754690/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1696434355823/work
websocket-client==1.6.4
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1696278461996/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
